html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #000;
  font-family: 'Helvetica Neue', sans-serif; }

header,
footer,
div,
section {
  border: 1px solid #000;
  padding: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

table {
  border: 1px solid #000;
  width: 100%; }
  table th {
    border: 1px solid #000; }
  table th,
  table td {
    padding: .5rem; }

@media screen and (min-width: 700px) {
  .l-team {
    display: grid;
    grid-template-columns: 30% 40% 30%; }
  .l-team__banner {
    grid-column: 1 / 4; }
  .l-team__details {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .l-team__roster {
    grid-column: 2 / 3;
    grid-row: 2 / 4; }
  .l-team__dropped {
    grid-column: 3 / 4;
    grid-row: 2 / 4; }
  .l-team__honours {
    grid-column: 1 / 2;
    grid-row: 3 / 4; } }
