body {
  color: $black;
  font-family: 'Helvetica Neue', sans-serif;
}

header,
footer,
div,
section {
  border: 1px solid $black;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

table {
  border: 1px solid $black;
  width: 100%;

  th {
    border: 1px solid $black;
  }

  th,
  td {
    padding: .5rem;
  }
}
