@charset 'utf-8';

// Variables

//   Fonts
$display-font: 'Aleo', serif;
$body-font: 'Lato', sans-serif;
$mono-font: 'Roboto Mono', monospace;

//   Colors
$white: #fff;
$black: #000;
$grey: #ddd;
$shield-blue: #2980b9;
$shield-red: #e74c3c;
$header-color: #fff;

// Team Colors

$ada1: #34495e;
$ada2: #2c3e50;
$ada3: #2ecc71;

$ale1: #148e96;
$ale2: #f39c12;
$ale3: #dc7422;

$dom1: #177e40;
$dom2: #f1c40f;
$dom3: #f39c12;

$jam1: #2980b9;
$jam2: #c0392b;
$jam3: #bdc3c7;

$joe1: #e67e22;
$joe2: #3498db;
$joe3: #2980b9;

$luk1: #323232;
$luk2: #141414;
$luk3: #bdc3c7;

$ric1: #6f4d4b;
$ric2: #e67e22;
$ric3: #bf4a00;

$wil1: #e73c2c;
$wil2: #f1c40f;
$wil3: #f39c12;

// Imports!
@import
  'reset',
  'base',
  'layout',
  'components',
  'theme';
