<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <header class="l-site-header">
    Header Content
  </header>
  <div class="l-page-content">
    {{ content }}
  </div>
  <footer class="l-site-footer">
    <a href="{{ "/teams/colorado-pony-hospital" | prepend: site.baseurl }}">Ponies</a>
    <a href="{{ "/ranks.html" | prepend: site.baseurl }}">Ranks</a>
    <a href="{{ "/history.html" | prepend: site.baseurl }}">History</a>
    <a href="{{ "/rules.html" | prepend: site.baseurl }}">Rules</a>
  </footer>

  {% if layout.scripts %}
    {% for script in layout.scripts %}
      <script src="{{ site.baseurl }}/js/{{ script }}.js"></script>
    {% endfor %}
  {% endif %}
  {% if page.scripts %}
    {% for script in page.scripts %}
      <script src="{{ site.baseurl }}/js/{{ script }}.js"></script>
    {% endfor %}
  {% endif %}
</body>
</html>
